.iconbutton {
  border: 2px solid #cccccc;
  border-radius: 50%;
}

.launcherpanel {
  border-radius: 12px;
  border: 2px solid #cccccc;
  padding: 12px;
}






/* These are for debugging*/
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
