.dashboard {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.launcher {
  all: unset;

  background-color: rgba(0, 0, 0, 0.5);

  padding: 8px;
  border-radius: 12px;
  transition: background-color 0.15s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.launcher_panel {
  padding: 12px;
}

.icon_button {
  all: unset;

  background-color: rgba(0, 0, 0, 0.5);

  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.15s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.lg {
  font-size: 56px;
  color: #fff;
  font-weight: bolder;
}

.md {
  font-size: 24px;
  color: #aaa;
  font-weight: bold;
}

.sm {
  font-size: 16px;
  color: #ddd;
}

.xs {
  font-size: 10px;
  color: #777;
}

/* These are for debugging*/
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
